<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item" href="/menu">Menu</li>
            <li class="main-header__item" href="/order">Zamów</li>
            <li class="main-header__item" href="/track-order">Śledź zamówienie</li>
            <li class="main-header__item" href="/concact">Kontakt</li>
        </ul>
    </nav>
</header>