<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">Homepage</a>    
            </li>
            <li class="main-header__item">
                <a href="/menu">Menu</a>    
            </li>
            <li class="main-header__item">
                <a href="/order">Zamów</a>    
            </li>
            <li class="main-header__item">
                <a href="/track-order">Śledź zamówienie</a>    
            </li>
            <li class="main-header__item">
                <a href="/contact">Kontakt</a>    
            </li>
            <li class="main-header__item">
                <a href="/admin/products-list">Lista produktów</a>    
            </li>
            <li class="main-header__item">
                <a href="/admin/add-product">Dodaj produkt</a>    
            </li>
        </ul>
    </nav>
</header>