<%- include("./includes/head.ejs") %> 
  </head>
  <body>
    <%- include("./includes/navigation.ejs") %> 
    <h1>Yummy Restaurant</h1>
    <p>Welcome to Yummy restaurant page</p>
    <p>Here are some generic informations that could describe every restaurant</p>
  </body>
</html>
